{
  "root": true,
  "extends": ["@shabados/eslint-config", "@shabados/eslint-config/typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["react-native"],
  "rules": {
    // StyleSheet classnames to be sorted in ascending order
    "react-native/sort-styles": [
      "error",
      "asc",
      {
        "ignoreStyleProperties": true
      }
    ]
  },
  "overrides": [
    {
      "files": ["config/**/*", "scripts/**/*"],
      "rules": {
        // Build-time config files are allowed to have devDependencies
        "import/no-extraneous-dependencies": "off",
        // Config files are allowed to use console.log
        "no-console": "off",
        // Scripts & config files are allowed to use require
        "global-require": "off"
      }
    }
  ]
}
