name: Release Next

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency: release

env:
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
  SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
  SENTRY_PROJECT: mobile
  MATCH_GIT_URL: https://${{ secrets.GH_BOT_TOKEN }}@github.com/shabados/ios-certificates.git
  MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
  APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APP_STORE_CONNECT_KEY_ID }}
  APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
  APP_STORE_CONNECT_API_KEY_KEY: ${{ secrets.APP_STORE_CONNECT_KEY }}
  SUPPLY_JSON_KEY_DATA: ${{ secrets.PLAY_STORE_CREDENTIALS }}
  UPLOAD_KEYSTORE_FILE: ${{ secrets.UPLOAD_KEYSTORE_FILE }}
  UPLOAD_KEYSTORE_PASSWORD: ${{ secrets.UPLOAD_KEYSTORE_PASSWORD }}
  UPLOAD_KEYSTORE_KEY_ALIAS: ${{ secrets.UPLOAD_KEYSTORE_KEY_ALIAS }}
  UPLOAD_KEYSTORE_KEY_PASSWORD: ${{ secrets.UPLOAD_KEYSTORE_KEY_PASSWORD }}
  ENVFILE: config/.env.next

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        command: ['lint', 'test -- --ci --forceExit', 'types']
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: npm

      - run: npm ci

      - run: npm run ${{ matrix.command }}

  prepare:
    runs-on: ubuntu-20.04
    needs: checks
    outputs:
      release-version: ${{ steps.bump-version.outputs.next }}
    steps:
      - uses: shabados/actions/setup-git-identity@release/v2
        with:
          user: Shabad OS Bot
          email: team@shabados.com

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_BOT_TOKEN }}

      - uses: shabados/actions/bump-version@release/v2
        id: bump-version
        with:
          prerelease: true

      - uses: shabados/actions/generate-changelog@release/v2

        # .tar to preserve permissions - https://github.com/actions/upload-artifact#maintaining-file-permissions-and-case-sensitive-files
      - name: Create tar workspace archive to preserve file permissions
        run: tar -cvf /tmp/workspace.tar .

      - name: Upload workspace
        uses: actions/upload-artifact@v2
        with:
          name: release-workspace
          path: /tmp/workspace.tar

  build-release:
    needs: prepare
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-11
            platform: ios
          - os: ubuntu-latest
            platform: android
    steps:
      - name: Download workspace
        uses: actions/download-artifact@v2
        with:
          name: release-workspace

        # .tar to preserve permissions - https://github.com/actions/upload-artifact#maintaining-file-permissions-and-case-sensitive-files
      - name: Extract tar workspace archive to preserve file permissions
        run: tar -xvf workspace.tar

      - uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: npm

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - run: brew bundle

      - uses: actions/cache@v2
        with:
          path: ios/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - run: npm ci

      - run: npm run prepare-release:${{ matrix.platform }} -- app_env:next is_next_release:true

      - run: npm run build:${{ matrix.platform }} -- app_env:next is_release:true is_next_release:true

      - run: npm run release:${{ matrix.platform }} -- app_env:next is_next_release:true

  publish-sentry:
    runs-on: ubuntu-20.04
    needs: [prepare, build-release]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_BOT_TOKEN }}

      - uses: getsentry/action-release@v1
        with:
          environment: next
          version: mobile@${{ needs.prepare.outputs.release-version }}

  publish-github:
    runs-on: ubuntu-20.04
    needs: [prepare, build-release]
    steps:
      - name: Download workspace
        uses: actions/download-artifact@v2
        with:
          name: release-workspace

        # .tar to preserve permissions - https://github.com/actions/upload-artifact#maintaining-file-permissions-and-case-sensitive-files
      - name: Extract tar workspace archive to preserve file permissions
        run: tar -xvf workspace.tar

      - uses: shabados/actions/publish-github@release/v2
        with:
          github_token: ${{ secrets.GH_BOT_TOKEN }}
          release_version: ${{ needs.prepare.outputs.release-version }}
